@model PlayerFullInfoViewModel

<div class="how-section1">
	<div class="playerFullInfo center">
		<div class="row">
			<div class="col-md-6 playerFullInfo-img" style="margin-top: 1.2rem;">
				<h4>@Model.FullName</h4>
				<img src="@Model.PictureURL" class="border border-light rounded img-fluid" />
			</div>
			<div class="col-md-6 mt-5">
				<p class="fw-bold" style="font-size: 1rem; color: white;">Age: @Model.Age</p>
				<p class="fw-bold" style="font-size: 1rem; color: white;">Height: @Model.Height"</p>
				<p class="fw-bold" style="font-size: 1rem; color: white;">Position: @Model.Position</p>
				<p class="fw-bold" style="font-size: 1rem; color: white;">PPG: @Model.PointsPerGame</p>
				<p class="fw-bold" style="font-size: 1rem; color: white;">RPG: @Model.ReboundsPerGame</p>
				<p class="fw-bold" style="font-size: 1rem; color: white;">APG: @Model.AssistsPerGame</p>
				<p class="fw-bold" style="font-size: 1rem; color: white;">Salary: @Model.Salary</p>
				<p class="fw-bold" style="font-size: 1rem; color: white;">
					Team:
					<a asp-route-teamId="@Model.TeamId" asp-controller="Team" asp-action="TeamDetails">
						<img src="@Model.TeamLogoUrl" class="rounded-circle myImage" style="width: 10%" />
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
