@model IEnumerable<RescheduleMatchModel>

<table class="table table-hover table-dark">
	<thead>
		<tr>
			<th scope="col" class="text-center">Home team</th>
			<th scope="col"></th>
			<th scope="col" class="text-center">Away team</th>
			<th scope="col" class="text-center">Match date</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var m in Model)
		{
			<tr>
				<td>
					<img src="@m.HomeTeamLogo" class="rounded-circle" style="width: 4.3rem;" />
					@m.HomeTeamName
				</td>
				<td class="text-center" style="padding-top: 2rem;">VS</td>
				<td class="text-end">
					@m.AwayTeamName
					<img src="@m.AwayTeamLogo" class="rounded-circle" style="width: 4.3rem;" />
				</td>
				<td class="text-center" style="padding-top: 2rem;">
					@m.MatchDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
					<span asp-validation-for="@m.MatchDate" class="text-danger"></span>
				</td>
				<form method="post">
				<td class="text-center" style="padding-top: 1.3rem">
					<input value="@m.MatchId" name="matchId" type="hidden" />
					<button class="btn btn-outline-light btn-lg px-5" type="submit">Remove</button>
				</td>
				</form>
			</tr>
		}
	</tbody>
</table>